In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
df = pd.read_csv("mail_data.csv")

In [30]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [31]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [32]:
df.shape

(5572, 2)

In [33]:
df['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [37]:
df.replace({'ham':1, 'spam':0},inplace = True)

In [38]:
df.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [39]:
df['Category'].value_counts()

1    4825
0     747
Name: Category, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [41]:
model = LogisticRegression()

In [42]:
model

LogisticRegression()

In [43]:
X = df['Message']
y = df['Category']

In [44]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [45]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [46]:
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [47]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(3900,)
(1672,)

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [53]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [54]:
print(X_train)

708     Quite late lar... Ard 12 anyway i wun b drivin...
4338                        on a Tuesday night r u 4 real
5029    Go chase after her and run her over while she'...
4921     G says you never answer your texts, confirm/deny
2592         Still work going on:)it is very small house.
                              ...
3772    Hi, wlcome back, did wonder if you got eaten b...
5191                               Sorry, I'll call later
5226        Prabha..i'm soryda..realy..frm heart i'm sory
5390                           Nt joking seriously i told
860               Did he just say somebody is named tampa
Name: Message, Length: 3900, dtype: object

In [57]:
print(X_train_features)
X_train_features.shape

  (0, 2221)	0.4595576461719437
  (0, 6907)	0.42057032296489166
  (0, 260)	0.3977642008852706
  (0, 943)	0.35285068394560465
  (0, 3629)	0.33392519134134463
  (0, 3634)	0.31674844532481095
  (0, 5025)	0.3425956765507876
  (1, 5087)	0.564752315585174
  (1, 4329)	0.4556948018194525
  (1, 6399)	0.6880385669683886
  (2, 5909)	0.4598907748288949
  (2, 1882)	0.5577039025555312
  (2, 5320)	0.407962240134966
  (2, 1557)	0.5577039025555312
  (3, 2032)	0.5517950786382567
  (3, 1762)	0.4550182724182232
  (3, 6157)	0.39464721758363247
  (3, 889)	0.4179976347325351
  (3, 5392)	0.3975073759914889
  (4, 3168)	0.517613431846439
  (4, 5675)	0.6128580677760653
  (4, 2864)	0.40046755880208973
  (4, 6864)	0.44283976592107693
  (5, 6369)	0.3834923635990344
  (5, 5884)	0.4325022650654002
  :	:
  (3895, 6835)	0.4724310616139888
  (3895, 6851)	0.3960620484148489
  (3895, 2277)	0.4500945571447008
  (3895, 2080)	0.26990881063254835
  (3895, 2891)	0.2286724629283105
  (3895, 3085)	0.26272736081331977
  (3896, 5751)	0.5972785044700903
  (3896, 3637)	0.6034974734888896
  (3896, 3758)	0.5282510649213112
  (3897, 5755)	0.44641749433429984
  (3897, 5756)	0.44641749433429984
  (3897, 4851)	0.4337802935282666
  (3897, 2711)	0.3842002175270242
  (3897, 5098)	0.4071627632103983
  (3897, 3048)	0.3160161001565619
  (3898, 3463)	0.5547403398631443
  (3898, 4386)	0.4976365821891147
  (3898, 5481)	0.5303714519182342
  (3898, 6285)	0.40413748945848094
  (3899, 4249)	0.5341816759004991
  (3899, 5723)	0.46235406855273553
  (3899, 6075)	0.47878508271631537
  (3899, 5388)	0.33110519415437856
  (3899, 3492)	0.24371977835418776
  (3899, 2080)	0.32033344663986374

(3900, 7003)

In [58]:
model.fit(X_train_features,y_train)

LogisticRegression()

In [60]:
# prediction on training data

pred_on_train_data = model.predict(X_train_features)
acc_on_train_data = accuracy_score(y_train,pred_on_train_data)
print(acc_on_train_data)

0.963076923076923

In [61]:
# Prediction on test data

pred_on_test_data = model.predict(X_test_features)
acc_test_data = accuracy_score(y_test,pred_on_test_data)
print(acc_test_data)

0.9659090909090909

In [64]:
input_mail =["Please call our customer service representative on 0800 169 6031 between 10am-9pm as you have WON a guaranteed £1000 cash or £5000 prize!"]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[0]
Spam mail